html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li,
p,
pre,
blockquote,
figure,
hr {
	margin: 0;
	padding: 0;
}

ul {
	list-style: none;
}

input,
textarea,
select,
button {
	color: inherit;
	letter-spacing: inherit;
	font: inherit;
}
